* {
    box-sizing: border-box;
}



a {
    color: rgb(19, 18, 18);
    text-decoration: none;

}

a:hover {
    color: blue;
}



.names {
    color: rgb(10, 10, 10);
    font-weight: 500;
}

.sb-btn {
    color: rgb(10, 10, 10);
    font-weight: 500;
}

.content {
    margin: 7rem auto;
}