* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(86, 168, 234), rgb(155, 172, 180));
}


a {
    color: rgb(19, 18, 18);
    text-decoration: none;

}

a:hover {
    color: blue;
}



.names {
    color: rgb(10, 10, 10);
    font-weight: 500;
}

.sb-btn {
    color: rgb(10, 10, 10);
    font-weight: 500;
}

.content {
    margin: 7rem auto;
}